<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Prueba</title>
    <link rel="stylesheet" href="/senasoft/src/main/resources/static/css/index.css" />
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="/senasoft/src/main/resources/static/img/222.png" alt="RFAST Logo" />
        </div>

        <div class="form-container">
            <div class="toggle-buttons">
                <button id="login-btn" class="active">Iniciar Sesión</button>
            </div>

            <form id="login-form" class="form active">
                <h2>Iniciar Sesión</h2>
                <label for ="opciones">Eliga el tipo de documento</label>
                <select name="opciones" id="opciones">
                    <option value="opcion1">Tarjeta de identidad</option>
                    <option value="opcion2">Cédula de ciudadanía</option>
                    <option value="opcion3">Cédula de extranjería</option>
                    <option value="opcion3">Permiso por proteccion temporal </option>

                </select>
                <input type="documento_identidad" id="login-identidad" placeholder="Numero de identificacion" required />
                <label for ="opciones">Ingrese su fecha de Nacimiento</label>
                <input type="date" id="login-fecha_naci" placeholder="Fecha de Nacimiento" required />
                <button type="submit">Entrar</button>
            </form>

        </div>
    </div>
    <script src="/senasoft/src/main/resources/static/js/index.js"></script>

</body>
</html>
