<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Prueba</title>
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="/senasoft/src/main/resources/static/img/222.png" alt="RFAST Logo" />
        </div>

        <div class="form-container">
            <div class="toggle-buttons">
                <button id="login-btn" class="active">Iniciar Sesión</button>
                <button id="register-btn">Registrarse</button>
            </div>

            <form id="login-form" class="form active">
                <h2>Iniciar Sesión</h2>
                <label for ="opciones">Eliga el tipo de documento</label>
                <select name="opciones" id="opciones">
                    <option value="opcion1">Tarjeta de identidad</option>
                    <option value="opcion2">Cédula de ciudadanía</option>
                    <option value="opcion3">Cédula de extranjería</option>
                    <option value="opcion3">Permiso por proteccion temporal </option>

                </select>
                <input type="documento_identidad" id="login-identidad" placeholder="Numero de identificacion" required />
                <input type="date" id="login-fecha_naci" placeholder="Fecha de Nacimiento" required />
                <button type="submit">Entrar</button>
            </form>

            <form id="register-form" class="form">
                <h2>Registrarse</h2>
                <input type="text" id="register-name" placeholder="Nombre completo" required />
                <input type="email" id="register-email" placeholder="Correo electrónico" required />
                <input type="password" id="register-password" placeholder="Contraseña" required />
                <input type="password" id="register-password2" placeholder="Confirmar contraseña" required />
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>
</body>
</html>
