<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>R-FAST</title>
  <link rel="stylesheet" href="/src/main/resources/static/css/esilos_pagina_principal.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/src/main/resources/static/img/222.png" alt="Logo">
      <span><b>Intelligence for health</b></span>
    </div>
    <nav>
      <a href="#" class="active">Inicio</a>
      <a href="#">Acerca de Nosotros</a>
      <a href="#">Trabajos</a>
      <a href="#">Contacto</a>
      <a href="/src/main/resources/templates/index.html">Iniciar Sesion</a>
    </nav>
  </header>

  <section class="hero">
    <div class="info">
      <h1>Te ayudamos a CRECER</h1>
      <p>Proveemos servicios de tecnología que ayudan a las personas en las organizaciones a optimizar sus procesos y ser más eficientes.</p>
      <a href="https://r-fast.com/">
          <button>Mas Informacion</button>
      </a> 
      <p class="address">Av. 3i Nte. #45-29, Vipasa, Cali, Valle del Cauca</p>
    </div>

    <div class="images">
      <div class="circle c1"><img src="/src/main/resources/static/img/11.jpg" alt=""></div>
      <div class="circle c2"><img src="/src/main/resources/static/img/2.jpg" alt=""></div>
      <div class="circle c3"><img src="/src/main/resources/static/img/3.webp" alt=""></div>
    </div>
  </section>
</body>
</html>
